// OLD SERVICES CAROUSEL
// .carousel-wrapper {
//   overflow-x: hidden;
//   width: 100vw;
//   padding-bottom: 1.25rem;
// }

// .carousel {
//   overflow: visible;
//   display: flex;
//   animation-direction: normal;
//   transition: 0.5s ease; 
//   * {    
//     transition: 0.5s ease; 
//   }
//   > div {
//     display: flex;
//     flex-grow: 0;
//     flex-shrink: 0;
//     justify-content: center;
//     align-items: center;
//     height: 240px;

//     h3 {
//       font-size: 16px;
//       letter-spacing: 6px;
//       font-weight: 700;
//       color: white;
//     }

//     &.clickable:hover {
//       background-color: rgba(33,40,45,0.85) !important;
//       h3 {
//         font-size: 20px;
//       }
//     }    
//   }
// }

// OLD PHOTO CAROUSEL
// .photo-carousel {
//   > div {
//     height: 700px;
//     padding: 0 30px;

//     .team-member {
//       border: $light-border;
//       overflow: hidden;
//       width: 100%;
//     }

//     img {
//       width:100%;
//       height: auto;
//     }

//     .team-member-info {
//       padding-top: 1rem;
//       text-align: center;
//       width: 100%;

//       h3 {
//         font-size: 13px;
//         letter-spacing: 1px;
//         font-weight: 400;        
//         color: $dark-text-color;
//       }
  
//       p {
//         font-size: 11px;
//         letter-spacing: 2px;
//         font-weight: 500;         
//         color: $text-color;
//       }
//     }

//   }
// }

.owl-carousel.services-carousel {
  // overflow: visible;
  // display: flex;
  animation-direction: normal;
  transition: 0.5s ease; 
  * {    
    transition: 0.5s ease; 
  }
  > div {
    .service-box {
      display: flex;
      flex-grow: 0;
      flex-shrink: 0;
      justify-content: center;
      align-items: center;
      height: 240px;
      text-align: center;
      padding-left: 0.25rem;
      padding-right: 0.25rem;
      h3 {
        font-size: 16px;
        letter-spacing: 6px;
        font-weight: 700;
        color: white;
      }
  
      &:hover {
        background-color: rgba(33,40,45,0.85) !important;
        h3 {
          font-size: 20px;
        }
      }    
    }
  }  
}

.owl-carousel.docs-carousel {
  > div {

    .team-member {
      border: $light-border;
      overflow: hidden;
      width: 100%;
    }

    img {
      width:100%;
      height: auto;
    }

    .team-member-info {
      padding-top: 1rem;
      text-align: center;
      width: 100%;

      h3 {
        font-size: 13px;
        letter-spacing: 1px;
        font-weight: 400;        
        color: $dark-text-color;
      }
  
      p {
        font-size: 11px;
        letter-spacing: 2px;
        font-weight: 500;         
        color: $text-color;
      }
    }

  }
}

// owl override
.owl-carousel a {
  text-decoration: none;
  &:visited {    
    text-decoration: none;
  }
}
.owl-carousel.owl-grab {
  cursor: -webkit-grabbing !important;
}