.owl-carousel.services-carousel {
  // overflow: visible;
  // display: flex;
  animation-direction: normal;
  transition: 0.5s ease; 
  * {    
    transition: 0.5s ease; 
  }
  > div {
    .service-box {
      display: flex;
      flex-grow: 0;
      flex-shrink: 0;
      justify-content: center;
      align-items: center;
      height: 240px;
      text-align: center;
      padding-left: 0.25rem;
      padding-right: 0.25rem;
      h3 {
        font-size: 16px;
        letter-spacing: 6px;
        font-weight: 700;
        color: white;
      }
  
      &:hover {
        background-color: rgba(33,40,45,0.85) !important;
        h3 {
          font-size: 20px;
        }
      }    
    }
  }  
}

.owl-carousel.docs-carousel {
  > div {

    .team-member {
      border: $light-border;
      overflow: hidden;
      width: 100%;
    }

    .team-member-image-container {
      height: 70vh;
      overflow: hidden;
      max-height: 600px;
    }

    img {
      width: auto;
      height: 100%;
    }

    .team-member-info {
      padding-top: 1rem;
      text-align: center;
      width: 100%;

      h3 {
        font-size: 13px;
        letter-spacing: 1px;
        font-weight: 400;        
        color: $dark-text-color;
      }
  
      p {
        font-size: 11px;
        letter-spacing: 2px;
        font-weight: 500;         
        color: $text-color;
      }
    }

  }
}

// owl override
.owl-carousel a {
  text-decoration: none;
  &:visited {    
    text-decoration: none;
  }
}
.owl-carousel.owl-grab {
  cursor: -webkit-grabbing !important;
}

@media only screen and (max-width: $my-small-break-point) {
.owl-carousel.services-carousel {
  > div {
    .service-box {
      h3 {
        font-size: 20px !important;
      }  
    }
  }  
}
}