
#counter {
  padding-top: 2rem;
  text-align: center;
  h4 {
    color: $main-color !important;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 3px;
    padding-bottom: 2rem;
  }

  h1 {
    font-family: Montserrat;
    color: $main-color !important;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 55px;
    visibility: hidden;
  }
}