
#counter {
  padding-top: 2rem;
  text-align: center;

  text-shadow: 
  1px 0 1px #f6f6f6, 
  -1px 0 1px #f6f6f6, 
  0 1px 1px #f6f6f6,
  0 -1px 1px #f6f6f6, 
  1px 1px 1px #f6f6f6, 
  -1px -1px 1px #f6f6f6, 
  1px -1px 1px #f6f6f6, 
  -1px 1px 1px #f6f6f6;

  h4 {
    color: #1774d2 !important;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 3px;
    padding-bottom: 2rem;
  }
  
  h1 {
    color: #1774d2 !important;
    font-family: Montserrat;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 55px;
    visibility: hidden;
  }
}

#counter-background {
  -webkit-transition: background-image 0.3s ease-in-out;
  transition: background-image 0.3s ease-in-out;
}
