#counter-outer {
  pointer-events: none;
  text-align: center;
  padding-top: 4rem;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  overflow-y: hidden;
}


#counter-inner {
  text-shadow:
    2px 0 4px #f6f6f6,
    -2px 0 4px #f6f6f6,
    0 2px 4px #f6f6f6,
    0 -2px 4px #f6f6f6,
    2px 2px 4px #f6f6f6,
    -2px -2px 4px #f6f6f6,
    2px -2px 4px #f6f6f6,
    -2px 2px 4px #f6f6f6;

  h4 {
    color: #1774d2 !important;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 3px;
    padding-bottom: 2rem;
  }

  h1 {
    color: #1774d2 !important;
    font-family: Montserrat;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 55px;
    visibility: hidden;
  }

  @media only screen and (max-width: $my-xsmall-break-point) {
    h1 {
      font-size: 45px;
    }

    h4 {
      font-size: 15px;
    }
  }
}

@media only screen and (max-width: $my-xsmall-break-point) {
  #counter-outer {
    padding-top: 6rem;
  }
}