.footer-logo {
    max-width: 75%;
}

$vertical-footer-cell-padding: 1.5em;

.emergenze-footer {
  padding-top: $vertical-footer-cell-padding;
}

@media only screen and (min-width: $my-medium-break-point) {
    .footer-cell {
        padding: 0em 5em;
    }
  }

  @media only screen and (min-width: $my-small-break-point) {
    .footer-cell {
        padding: $vertical-footer-cell-padding 2em;
    }
  }

  @media only screen and (max-width: $my-small-break-point) {
    .footer-cell {
        padding: $vertical-footer-cell-padding 0em;
    }
  }