.footer-logo {
    max-width: 100%;
}

@media only screen and (min-width: $my-medium-break-point) {
    .footer-logo {
        max-width: 50%;
    }
  }

  @media only screen and (max-width: $my-small-break-point) {
    .footer-logo {
        max-width: 75%;
    }
  }