// grid settings
$small-break-point: 640px;
$medium-break-point: 1024px;

// MEDIUM break point
.large-1 {width: 8.33%;}
.large-2 {width: 16.66%;}
.large-3 {width: 25%;}
.large-4 {width: 33.33%;}
.large-5 {width: 41.66%;}
.large-6 {width: 50%;}
.large-7 {width: 58.33%;}
.large-8 {width: 66.66%;}
.large-9 {width: 75%;}
.large-10 {width: 83.33%;}
.large-11 {width: 91.66%;}
.large-12 {width: 100%;}

.medium-1 {width: 8.33%;}
.medium-2 {width: 16.66%;}
.medium-3 {width: 25%;}
.medium-4 {width: 33.33%;}
.medium-5 {width: 41.66%;}
.medium-6 {width: 50%;}
.medium-7 {width: 58.33%;}
.medium-8 {width: 66.66%;}
.medium-9 {width: 75%;}
.medium-10 {width: 83.33%;}
.medium-11 {width: 91.66%;}
.medium-12 {width: 100%;}

.small-1 {width: 8.33%;}
.small-2 {width: 16.66%;}
.small-3 {width: 25%;}
.small-4 {width: 33.33%;}
.small-5 {width: 41.66%;}
.small-6 {width: 50%;}
.small-7 {width: 58.33%;}
.small-8 {width: 66.66%;}
.small-9 {width: 75%;}
.small-10 {width: 83.33%;}
.small-11 {width: 91.66%;}
.small-12 {width: 100%;}

// LARGE
@media only screen and (min-width: $medium-break-point) {
  .large-1 {width: 8.33%;}
  .large-2 {width: 16.66%;}
  .large-3 {width: 25%;}
  .large-4 {width: 33.33%;}
  .large-5 {width: 41.66%;}
  .large-6 {width: 50%;}
  .large-7 {width: 58.33%;}
  .large-8 {width: 66.66%;}
  .large-9 {width: 75%;}
  .large-10 {width: 83.33%;}
  .large-11 {width: 91.66%;}
  .large-12 {width: 100%;}
}

// MEDIUM
@media only screen and (min-width: $small-break-point) and (max-width: $medium-break-point) {
  .medium-1 {width: 8.33%;}
  .medium-2 {width: 16.66%;}
  .medium-3 {width: 25%;}
  .medium-4 {width: 33.33%;}
  .medium-5 {width: 41.66%;}
  .medium-6 {width: 50%;}
  .medium-7 {width: 58.33%;}
  .medium-8 {width: 66.66%;}
  .medium-9 {width: 75%;}
  .medium-10 {width: 83.33%;}
  .medium-11 {width: 91.66%;}
  .medium-12 {width: 100%;}
}

// SMALL
@media only screen and (max-width: $small-break-point) {
  .small-1 {width: 8.33%;}
  .small-2 {width: 16.66%;}
  .small-3 {width: 25%;}
  .small-4 {width: 33.33%;}
  .small-5 {width: 41.66%;}
  .small-6 {width: 50%;}
  .small-7 {width: 58.33%;}
  .small-8 {width: 66.66%;}
  .small-9 {width: 75%;}
  .small-10 {width: 83.33%;}
  .small-11 {width: 91.66%;}
  .small-12 {width: 100%;}
}

[class*="small-"], [class*="medium-"], [class*="large-"] {
  float: left;
}

.grid-x{
  align-items:center;
  &.grid-flex {
    display: flex;
  }
}

.grid-x::after {
  content: "";
  clear: both;
  display: table;
}

.cell {
  height: inherit;
}