.big-icon {
  color: $main-color;
  font-size: 60px !important;
}

.inner-logo {
  margin-left: 0.7rem;
  width: 19px;

  &.small {
    width: 12px;
  }
}

.inner-logo {
  width: auto;
  max-height: 3rem;
  vertical-align: middle;

  @media only screen and (max-width: $my-small-break-point) {
        max-height: 2rem;
  }
}

.fill {
    background:  
      linear-gradient(
        rgba(0, 0, 0, 0.3), 
        rgba(0, 0, 0, 0.3)
      ), 
      url("/asset/img/love.jpeg");
      // url("/asset/img/introwall/marilynMonroeSmiling.jpg");
      // url("/asset/img/introwall/girlSmiling.jpg");      
      // url("/asset/img/introwall/manSmiling.jpg");      
      // url("/asset/img/introwall/happyMan.jpg");      
      // url("/asset/img/introwall/barackObamaSmiling.jpg");      
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    // z-index: -1;
}

.fill#fill-services {
  height: 600px;
}

.img-box {
  max-width:100%; vertical-align: middle;
  &#love {   
    object-fit: cover;
    height: 100%;    
  }
}

// medium and small
@media only screen and (max-width: $my-medium-break-point) {
  .img-box {
    &#love {
      height: auto;  
    }
  }
}

// medium and small
@media only screen and (max-width: $my-small-break-point) {
.text-container.text-center {
    h3 .inner-logo {
      max-height: 2rem;
    }
  }
}

// large
@media only screen and (min-width: $my-medium-break-point) {
  .img-box {
    &#love {
      max-height: 600px;  
    }
  }
}