// layout
.h-align-center {
  text-align: center !important;
}

.v-align-center {
  // display:flex;
  // align-items:center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hv-align-center {
  display: table-cell;
  text-align:center;
  vertical-align:middle;
}

section {
  background-color: white;
  // padding: 2rem 0vw;
  padding-top: 5rem;
  overflow-y: auto;

  &.bg-img {
    margin-left: 0;
    margin-right: 0;
    // height: 100vh;
    // min-height: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;

    &.service-page {
      height: 50vh;
      background-attachment: unset;
    }
  }

  &#carousel-section {
    padding: 50px 0px /*70px*/ 0px 0px;
    overflow-y: visible;

    a {
      cursor: none;
    }
  }

  &#staff {
    // margin-top: $header-height;

    padding: 0;
    padding-bottom: 5rem;
    margin-left: 5vw;
    margin-right: 5vw;
  }
}

// section:first-of-type {
//   margin-top: $header-height; 
// }

.space-small {
  margin-bottom: 5vh;
}

.sm-pd-top {
  padding-top: 1.25rem;
}

// large
@media only screen and (min-width: $my-medium-break-point) {
  #chi-siamo {
    .text-container {
      padding-left: 20vw;
      padding-right: 20vw;
    }
  }
}

// medium
@media only screen and (min-width: $my-small-break-point) and (max-width: $my-medium-break-point) {
  #chi-siamo {
    .text-container {
      padding-left: 10vw;
      padding-right: 10vw;
    }
  }
}
