// layout
.h-align-center {
  text-align: center !important;
}

.v-align-center {
  // display:flex;
  // align-items:center;
  display: flex;
  align-items: center;
  justify-content: center;
}

section {
  background-color: white;
  padding: 2rem 5vw;
  overflow-y: auto;
}

section:first-of-type {
  margin-top: $header-height;
  padding-top: 2rem;
}

.space-small {
  margin-bottom: 5vh;
}

section {
  &.bg-img {
    margin-left: 0;
    margin-right: 0;
    // height: 100vh;
    // min-height: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
  }
  &#contacts {
    // width: 100vw;
  }
}

.sm-pd-top {
  padding-top: 1.25rem;
}
