hr {
  border-top: 1px solid $main-color;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  text-align: center;
  width: 15%;

  &.small {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    width: 20%;
  }
}

#map_wrapper {
  height: 500px;
}

#map {
  height: 100%;  
}

.side-box {
  min-height: 250px;
}

.responsive-contacts {
  padding-top: 4rem;
  // height: 522px;
}

.contacts-container {
  height: 500px;
}

.form-container {
  padding-left: 5vw;
  padding-right: 5vw;
}


.footer {
  background-color: $my-medium-grey;
  background-color: #f5f5f5;
  background-color: $main-color;
  padding: 2rem 5vw;
  margin-top: 3rem;
  h5 {color: $text-color}
  h4,a, hr, p {color: white; text-decoration: none;}
}

@media only screen and (max-width: $my-medium-break-point) {
  .contacts-container {
    height: 250px;
    padding-top: 1.25rem;  
  }

  #map_wrapper {
    height: 400px;
    padding-bottom: 1rem;
  }
}

@media only screen and (min-width: $my-medium-break-point) {
  #map_wrapper {
    border-top: $light-border;
    border-bottom: $light-border;
  }

  #side-box1 {
    border-top: $light-border;
  }
  #side-box2 {
    border-bottom: $light-border;
  }
}




// :nth-of-type(1){...}
// .wheel:nth-of-type(2){...}
