hr {
  border-top: 1px solid $main-color;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  text-align: center;
  width: 15%;

  &.small {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    width: 20%;
  }
}

#dove {
  height: 500px;
}

#map {
  height: 100%;  
}

.side-box {
  min-height: 250px;
}

.responsive-contacts {
  padding-top: 4rem;
  // height: 522px;
}

.contacts-container {
  height: 500px;
}

.form-container {
  padding-left: 5vw;
  padding-right: 5vw;
}


.footer {
  background-color: $my-medium-grey;
  background-color: #f5f5f5;
  background-color: $main-color;
  padding: 2rem 5vw;
  margin-top: 3rem;
  h5 {color: $text-color}
  h4,a, hr, p {color: white; text-decoration: none;}
}

.carousel-wrapper {
  overflow-x: hidden;
  width: 100vw;
  padding-bottom: 1.25rem;
}

.carousel {
  overflow: visible;
  display: flex;
  animation-direction: normal;
  transition: 0.5s ease; 
  * {    
    transition: 0.5s ease; 
  }
  > div {
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    height: 240px;

    h3 {
      font-size: 16px;
      letter-spacing: 6px;
      font-weight: 700;
      color: white;
    }

    &:hover {
      background-color: rgba(33,40,45,0.85) !important;
      h3 {
        font-size: 20px;
      }
    }    
  }
}

.photo-carousel {
  > div {
    height: 700px;
    padding: 0 30px;

    .team-member {
      border: $light-border;
      overflow: hidden;
      width: 100%;
    }

    img {
      width:100%;
      height: auto;
    }

    .team-member-info {
      padding-top: 1rem;
      text-align: center;
      width: 100%;

      h3 {
        font-size: 13px;
        letter-spacing: 1px;
        font-weight: 400;        
        color: $dark-text-color;
      }
  
      p {
        font-size: 11px;
        letter-spacing: 2px;
        font-weight: 500;         
        color: $text-color;
      }
    }

  }
}

@media only screen and (max-width: $my-medium-break-point) {
  .contacts-container {
    height: 250px;
    padding-top: 1.25rem;  
  }

  #dove {
    height: 400px;
    padding-bottom: 1rem;
  }
}

@media only screen and (min-width: $my-medium-break-point) {
  #dove {
    border-top: $light-border;
    border-bottom: $light-border;
  }

  #side-box1 {
    border-top: $light-border;
  }
  #side-box2 {
    border-bottom: $light-border;
  }
}

.panel {
  * {transition: all 0.2s ease;}
}

.panel-selector {
  padding: 2.5rem 6vw;
  h4 {
    margin-left: 1rem;
    padding-bottom: 1rem;
    border-bottom: $light-border;
    &.hovered {
      border-bottom: $highlight-border;    
    }
  }

  // .hovered {
  //   border-bottom: $highlight-border;
  // }
}


// :nth-of-type(1){...}
// .wheel:nth-of-type(2){...}
