// palette
// 1 - $main-color
// 2 - $my-medium-gray

// General Colors
$light-grey: #f4f4f4;
$my-medium-grey: #a3b1b4;
$dark-grey: #333333;

$text-color: #6c747d;
$dark-text-color: #191b1d;

// App Colors
$main-color: #a9d7de;
// second color is $my-medium-grey
$third-color: #A7CBAA;
$fourth-color: #76c491;
// $old third-color: #c4deb7;
// old $fourth-color: #89bd97;

// borders
$light-border: 1px solid $light-grey;
$border: 1px solid $my-medium-grey;
$highlight-border: 1px solid $main-color;
$layout-border: 1px dashed $my-medium-grey;

// radius
$standard-border-radius: 8px;

// box-shadow

$upper-box-shadow: inset 0 2px 2px $light-grey;
$lower-box-shadow: inset 0 -2px 2px $light-grey;
$menu-box-shadow: $upper-box-shadow, $lower-box-shadow;

$topbar-side-padding: 20px;

// test borders
$test-borderGr: 1px solid $my-medium-grey;

$test-borderR: 2px solid red;

$test-borderG: 2px solid green;

$test-borderB: 2px solid blue;

$header-height: 62px;

// .test1 * {
.test1 {
  border: $test-borderR;
  // background-color: red;
  // opacity: 0.2;
}
.test2 {
  border: $test-borderG;
  // background-color: red;
  // opacity: 0.2;
}
.test3 {
  border: $test-borderB
}

// font
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700|Raleway:400,500,700');

// material icons
.material-icons { font-size: 30px !important;}

// .material-icons.md-18 { font-size: 18px; }
// .material-icons.md-24 { font-size: 24px; }
// .material-icons.md-36 { font-size: 36px; }
// .material-icons.md-48 { font-size: 48px; }

* {
  box-sizing: border-box;
  // animation-direction: normal;
  // transition: 1s ease;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: Raleway, Montserrat;
  color: $text-color;
  font-weight: 400 !important;
  -webkit-font-smoothing:antialiased;  
}

input, textarea {
  font-family: Raleway, Montserrat;
  color: $text-color;
  font-weight: 400 !important;
  height: 55px;
  margin-bottom: 1.5rem;
  padding: 1rem;
  border: 1px solid $my-medium-grey;
  font-size: 13px;
}

textarea {
  height: 130px;
}

.clickable {
  cursor: pointer;
  &:hover,&.hovered {
    color: $main-color;
    font-weight: bold;
  }
}

a {
  cursor: pointer;
  &:hover {
    font-weight: bold;
  }  
}
