h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  color: $dark-text-color;
  -webkit-margin-after: 1.5rem;
  -webkit-margin-before: 0rem;  
}

h1 {
  font-size: 3vw;
}

p {
  line-height: 1.42;
  
  &.paragraph {
    padding-left: 5vw;
    padding-right: 5vw;
    text-align: justify;
  }
}

h3 {
  &.light {
    color: $my-medium-grey;
  }
  &.big {
    font-size: 2vw;
  }  
}

// #chi-siamo {
//   border-bottom: $test-borderR;
// }

// MEDIUM
@media only screen and (min-width: $my-small-break-point) and (max-width: $my-medium-break-point) {
  h1 {
    font-size: 4vw;
  }

  h3 {
    &.big {
      font-size: 3.5vw;
    }
  }  
}

// SMALL
@media only screen and (max-width: $my-small-break-point) {
  h1 {
    font-size: 6vw;
  }

  h3 {
    &.big {
      font-size: 5vw;
    }
  }  
}

.colored {
  color: $main-color;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

// override

h4 {
  font-size: 14px;
  font-family: Raleway;
  letter-spacing: 2px;
  font-weight: 500;
}

h3 {
  font-family: Montserrat;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 1px;
}


