// General Colors
$light-grey: #f4f4f4;
$medium-grey: #aaaaaa;
$dark-grey: #333333;

$text-color: #646769;

// App Colors
// $main-color: #138c3b;
$main-color: #2ac5ee;
// $blue: #2ac5ee;

// borders
$light-border: 1px solid $light-grey;
$highlight-border: 3px solid $main-color;
$layout-border: 1px dashed $medium-grey;

// radius
$standard-border-radius: 8px;

// box-shadow
$header-box-shadow: 0 3px $light-grey;

// test borders
$test-borderGr: 1px solid $medium-grey;

$test-borderR: 2px solid red;

$test-borderG: 2px solid green;

$test-borderB: 2px solid blue;

$header-height: 120px;

// font
@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Montserrat);

// material icons
.material-icons { font-size: 36px; }

// .material-icons.md-18 { font-size: 18px; }
// .material-icons.md-24 { font-size: 24px; }
// .material-icons.md-36 { font-size: 36px; }
// .material-icons.md-48 { font-size: 48px; }

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: Montserrat, Lato;
  color: $text-color;
  font-weight: 400 !important;
}

.clickable {
  cursor: pointer;
  &:hover {
    color: $main-color;
    font-weight: bold;
  }
}

// development
* {
  // border: $test-borderGr;
}