// import
@import "components/grid";
@import "components/settings";
@import "components/text";
@import "components/layout";
@import "components/counter";
@import "components/others";
@import "components/img-icons";
@import "components/carousel";

// header
$header-breakpoint: 920;

header {
  z-index: 99999;
  height: 62px;
  overflow-y: hidden;
  letter-spacing: 1px;
  animation-direction: normal;
  transition: 0.2s linear;
  background-color: white;
  color: #191b1d;  

  &.desktop-menu.effectON {
    color: white;
    background-color: transparent;
  }

  &.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

  &.is-closed:not(.desktop-menu) {
    -moz-box-shadow: $lower-box-shadow;
    -webkit-box-shadow: $lower-box-shadow;
    box-shadow: $lower-box-shadow;
  }

  &.is-open {
    height: 362px;
  }
  #menu-section {
    padding-top: 10px;

    p {
      padding-top: 0.25rem;
      padding-bottom: 0.25rem;
    }
  }

  .collapse-small {
    p {
      -webkit-margin-after: 0;
      -webkit-margin-before: 0;
    }
  }
  p {
    animation-direction: normal;
    transition: 0.2s linear;
    font-size: 10px;
    letter-spacing: 2px;
    // color: #191b1d;
    &:hover {
      color: $main-color;
      font-weight: bold;
    }
  }
}

.clickable {
  animation-direction: normal;
  transition: 0.2s linear;
}

#logo-container {
  height: 62px;
  padding: 12px 0px;
  
  img {
    cursor: pointer;
    padding-left: $topbar-side-padding;
  }
}

.top-bar-right {
  padding-right: 0.5rem;
}

#hb-container {
  padding-right: $topbar-side-padding;
  text-align: right;
}

#hamburger-button { // definetly not working for everyone
  top: 50%;
  cursor: pointer;
  transform: translateY(2%);
    // transition: 0.2s ease-in-out;
}

#menu-section {
  -moz-box-shadow: $menu-box-shadow;
  -webkit-box-shadow: $menu-box-shadow;
  box-shadow: $menu-box-shadow;
  padding: 0rem 0.5rem;

  div {
    padding: 0.5rem 1.5rem;
  }
}

.is-off {
  display: none;
}

// screen smaller than breakpoint
@media only screen and (max-width: #{($header-breakpoint - 1)}px) {
  .collapse-small {
    display: none;
  }

  .top-bar-right {
    float: right;
    padding-right: 0;
  }
}

// screen bigger than breakpoint
@media only screen and (min-width: #{($header-breakpoint)}px) {
  .collapse-big {
    display: none;
  }
}

// img
.img-container {
  > img {
    height: 100%;
  }
}

// borders
.borders-tb {
  border-top: $light-border;
  border-bottom: $light-border;
}

.hidden {
  display: none;
}

.zero-opacity {
  opacity: 0;
}

