// import
@import "grid";
@import "globalSettings";
@import "text";
@import "layout";

// header
$header-breakpoint: 920px;

header {
  height: 62px;
  overflow-y: hidden;
  letter-spacing: 1px;
  animation-direction: normal;
  transition: 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  background-color: white;

  &.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

  &.is-closed {
    -moz-box-shadow: $lower-box-shadow;
    -webkit-box-shadow: $lower-box-shadow;
    box-shadow: $lower-box-shadow;
  }

  p {
    animation-direction: normal;
    transition: 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    font-size: 10px;
    letter-spacing: 2px;
    color: #191b1d;
    &:hover {
      color: $main-color;
      font-weight: bold;
    }
  }
}

.clickable {
  animation-direction: normal;
  transition: 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

#logo-container {
  height: 62px;
  padding: 5px 0px;

  img {
    padding-left: $topbar-side-padding;
  }
}

.top-bar-right {
  padding-right: 0.5rem;
}

#hb-container {
  padding-right: $topbar-side-padding;
  cursor: pointer;
  text-align: right;
}

#hamburger-button { // definetly not working for everyone
  top: 50%;
  transform: translateY(2%);
    // transition: 0.2s ease-in-out;
}

#menu-section {
  -moz-box-shadow: $menu-box-shadow;
  -webkit-box-shadow: $menu-box-shadow;
  box-shadow: $menu-box-shadow;
  padding: 0rem 0.5rem;

  div {
    padding: 0.5rem 1.5rem;
  }
}

.is-off {
  display: none;
}

// screen smaller than breakpoint
@media only screen and (max-width: $header-breakpoint) {
  .collapse-small {
    display: none;
  }

  .top-bar-right {
    float: right;
    padding-right: 0;
  }
}

// screen bigger than breakpoint
@media only screen and (min-width: $header-breakpoint) {
  .collapse-big {
    display: none;
  }
}

// img
.img-container {
  > img {
    height: 100%;
  }
}


