// General Colors
$light-grey: #f4f4f4;
$medium-grey: #aaaaaa;
$dark-grey: #333333;

$text-color: #646769;

// App Colors
$main-color: #6aca3f;
$blue: #2ac5ee;

// borders
$standard-border: 1px solid $medium-grey;
$highlight-border: 3px solid $main-color;
$layout-border: 1px dashed $medium-grey;

$standard-border-radius: 8px;

// test borders
$test-borderGr: 1px solid $medium-grey;

$test-borderR: 2px solid red;

$test-borderG: 2px solid green;

$test-borderB: 2px solid blue;

// import
@import "grid";

// initial settings
@import url(https://fonts.googleapis.com/css?family=Lato);

* {
  box-sizing: border-box;
}

html {
  color: $text-color;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: Lato, ;
}

.clickable {
  cursor: pointer;
  &:hover {
    color: $blue;
  }
}

// development
* {
  border: $test-borderGr;
  background-color: $light-grey;
}

// header
header {
  -moz-box-shadow: 0 1px $light-grey;
  -webkit-box-shadow: 0 1px $light-grey;
  box-shadow: 0 1px $light-grey;
}
#logo-container {
  height: 120px;
  padding: 10px 0px;
}

// img
.img-container {
  > img {
    height: 100%;
  }
}

// layout

.h-align-center {
  text-align: center;
}